@(instance: Instance)(implicit flash: Flash)
@main("Instance %s".format(instance.instanceType)) {
  <dl class="dl-horizontal">
    <dt>Instance type:</dt>
    <dd>@instance.instanceType</dd>
    <dt>vCPU:</dt>
    <dd>@instance.vCPU</dd>
    <dt>Memory:</dt>
    <dd>@instance.memory</dd>
    <dt>Processor:</dt>
    <dd>@instance.processor</dd>
    <dt>Clock Speed:</dt>
    <dd>@instance.clockSpeed</dd>
  </dl>
}