@(instanceForm: Form[Instance])(implicit flash: Flash)
@import helper._
@import helper.twitterBootstrap._

@main("Instance Form") {
  <h2>Instance Form</h2>
  @*
  @helper.form(action = routes.Instances.save()) {
    <fieldset>
  	@helper.inputText(instanceForm("instanceType"), '_label -> "Instance Type")
  	@helper.textarea(instanceForm("description"), '_label -> "Description")
	</fieldset>
	<p><input type="submit" class="btn primary"
    value='Add'></p>
  }
  *@
}