@(instances: List[Instance])(implicit flash: Flash)
@main("List of Instances") {
  <table class="instances">
  	<tr>
  	  <th>Instance Type</th>
  	  <th>vCPU</th>
  	  <th>Memory</th>
  	  <th>Processor</th>
  	  <th>Clock Speed</th>
  	</tr>
    @for(instance <- instances) {
      <tr>
      <td>
	     <a href="@controllers.routes.Instances.show(instance.instanceType)">
	       @instance.instanceType
	     </a>
      </td>
      <td>@instance.vCPU</td>
      <td>@instance.memory</td>
      <td>@instance.processor</td>
      <td>@instance.clockSpeed</td>
      <tr>
} </table>
}