@(formWithErrors:Form[(String,String)])(implicit flash: Flash)
@main("Cloud Instance Selector") {
	<script type="text/javascript">
		function showValue(id, newValue) {
			document.getElementById(id).innerHTML=newValue;
		}
    </script>
    
    @if(formWithErrors != null) {
    <h1>@formWithErrors.errors(0).message</h1>
    }
    
	<form action="@routes.Auth.authenticate" method="post">		
		<label for="w1">Username: </label>
		<input type="text" name="username" id="username">
		<label for="w1">Password: </label>
		<input type="password" name="password" id="password">

		<div>
		<input type="submit" value="Submit">
		</div>
	</form>
}