@(instances: List[Instance])(implicit flash: Flash)
@main("Cloud Instance Selector") {
	<script type="text/javascript">
		function showValue(id, newValue) {
			document.getElementById(id).innerHTML=newValue;
		}
    </script>
    
    <table>
    <tr><td>
		<form action="@routes.Admin.updateWeights" method="post">
	
			Is Parallel: <input type="checkbox" name="w5" @if(flash.get("w5").isDefined) {checked} value="true"/>
			
			<label for="w1">Memory and Process: </label>
			<input type="range" id="w1" name="w1" min=0 max=5 step=1 value=0 onchange="showValue('range1', this.value)">
			<span id="range1">0</span>
			
			<label for="w2">Local Communication: </label>
			<input type="range" id="w2" name="w2" min=0 max=5 step=1 value=0 onchange="showValue('range2', this.value)">
			<span id="range2">0</span>
			
			<label for="w3">Computation: </label>
			<input type="range" id="w3" name="w3" min=0 max=5 step=1 value=0 onchange="showValue('range3', this.value)">
			<span id="range3">0</span>
			
			<label for="w4">Storage: </label>
			<input type="range" id="w4" name="w4" min=0 max=5 step=1 value=0 onchange="showValue('range4', this.value)">
			<span id="range4">0</span>
	
			<label for="firstSelection">First Selection: </label>
			<select name="firstSelection">
				<option value=""></option>
				@for(instance <- instances) {
				<option value="@instance.instanceType">@instance.instanceType</option>
				}
			</select>
	
			<label for="secondSelection">Second Selection: </label>
			<select name="secondSelection">
				<option value=""></option>
				@for(instance <- instances) {
				<option value="@instance.instanceType">@instance.instanceType</option>
				}
			</select>
	
			<label for="thirdSelection">Third Selection: </label>
			<select name="thirdSelection">
				<option value=""></option>
				@for(instance <- instances) {
				<option value="@instance.instanceType">@instance.instanceType</option>
				}
			</select>
	
			<div>
			<input type="submit" value="Update">
			</div>
		</form>
	</td></tr>
	<tr><td>
		<form action="@routes.Admin.upload" method="post" enctype="multipart/form-data">
			<input type="file" name="Rankings">
			<input type="submit" name="Upload">
		</form>
	</tr></td>
	<tr><td>
		<form action="@routes.Auth.logout" method="post">
		<input type="submit" value="Logout">
	</form>
	</td></tr>
	</table>
}