@(result: InstancesSelectingResult)(implicit flash: Flash)
@main("Instances Selecting Result") {
  <div class="panel panel-default">
	  <div class="panel-heading">Weights</div>
	  <div class="panel-body">
		  <table class="table">
		    <tr>
		      <th>Memory and Process</th>
		      <th>Local Communication</th>
		      <th>Computation</th>
		      <th>Storage</th>
		      <th>Is Parallel</th>
		    </tr>
		    <tr>
		      <td>@result.w1</td>
		      <td>@result.w2</td>
		      <td>@result.w3</td>
		      <td>@result.w4</td>
		      <td>@if(result.w5 == 0) {False} else {True}</td>
		    </tr>
		  </table>
  	  </div>
  </div>
  
  <div class="panel panel-default">
	  <div class="panel-heading">Instances Ranking</div>
	  <div class="panel-body">
		  <table class="table">
		    <tr>
		      <th>Rank</th>
		      <th>Instance Type</th>
		      <th>vCPU</th>
		      <th>Memory</th>
		      <th>Processor Type</th>
		      <th>Clock Speed</th>
		    </tr>
		    @for(num <- 0 until result.instanceTypes.size) {
		      <tr>
		        <td>@(num + 1)</td>
		        <td>@result.instanceTypes(num).instanceType</td>
		        <td>@result.instanceTypes(num).vCPU</td>
		        <td>@result.instanceTypes(num).memory</td>
		        <td>@result.instanceTypes(num).processor</td>
		        <td>@result.instanceTypes(num).clockSpeed</td>
		      </tr>
		    }
		  </table>
  	  </div>
  </div>
}