@()(implicit flash: Flash)
@main("Cloud Instance Selector") {
	<script type="text/javascript">
		function showValue(id, newValue) {
			document.getElementById(id).innerHTML=newValue;
		}
    </script>
	<div class="panel panel-default panel-body" style="margin: 0 auto;width:40%;padding-left: 35px;">
		<form action="@routes.InstancesSelector.getInstances" method="post">
			<div class="form-group row">
				<label for="w5">Is Parallel:</label>
				<input type="checkbox" name="w5" @if(flash.get("w5").isDefined) {checked} value="true"/>
			</div>
			
			<div class="form-group row">
				<label for="w1">Memory and Process: </label>
				<input type="range" id="w1" name="w1" min=0 max=5 step=1 value=0 onchange="showValue('range1', this.value)" style="width:90%">
				<span id="range1">0</span>
			</div>
				
			<div class="form-group row">
				<label for="w2">Local Communication: </label>
				<input type="range" id="w2" name="w2" min=0 max=5 step=1 value=0 onchange="showValue('range2', this.value)" style="width:90%">
				<span id="range2">0</span>
			</div>
					
			<div class="form-group row">
				<label for="w3">Computation: </label>
				<input type="range" id="w3" name="w3" min=0 max=5 step=1 value=0 onchange="showValue('range3', this.value)" style="width:90%">
				<span id="range3">0</span>
			</div>
				
			<div class="form-group row">	
				<label for="w4">Storage: </label>
				<input type="range" id="w4" name="w4" min=0 max=5 step=1 value=0 onchange="showValue('range4', this.value)" style="width:90%">
				<span id="range4">0</span>
			</div>
	
			<div class="col-sm-offset-4 col-sm-10">
				<input type="submit" value="Submit"class="btn btn-primary" >
			</div>
		</form>
	</div>
}