@()(implicit flash: Flash)
@main("About") {

<div class="container">
<h2>About</h2>

	<p>
		A wide-variety of resources with significantly different capabilities are 
		being offered in a rather crowded cloud computing marketplace. Due to 
		the large number of possible cloud providers and configuration options, 
		applications are typically deployed onto cloud infrastructure ad-hoc with 
		little knowledge of which cloud provider to choose or how to configure 
		a cloud service to maximise an application’s performance and minimise 
		operating costs.
	</p>

	<p>
		CloudBench was developed to solve this problem and simplify the choice of cloud provider selection. 
		CloudBench was developed in the Big Data Lab at the University of St Andrews, 
		UK and supported by a 
		<a href="https://royalsociety.org/grants-schemes-awards/grants/industry-fellowship/">Royal Society Industry Fellowship</a> 
		and an <a href="https://www.st-andrews.ac.uk/ktc/impactaccelerationaccountiaa/">EPSRC Impact Acceleration Account (IAA) 
		Grant</a>.
	</p>
	
	<p>
		CloudBench currently supports two easy to use features: 
		<ol>
			<li>
				Searching for cloud Virtual Machines (VMs): This feature lists VMs 
				which satisfy a combination of user provided requirements, such as 
				geographic region, operating system, number of computing cores, size 
				of memory, storage and price ($/hr)
			</li> 
			<li>
				Selecting cloud VMs: This feature generates performance ranks of 
				cloud VMs based on four weights provided by the user. The weights 
				take a value between 0-5 and indicate how important memory and 
				process, local communication, computation and storage are to the 
				user's application to be deployed the cloud. The research article 
				describing the method that underpins this feature of the prototype is 
				available <a href="http://arxiv.org/abs/1411.0912">here</a>.
			</li>
		</ol>
	</p>
</div>

<div class="container">

<h2>Team</h2>

<a href="http://www.adambarker.org/">Adam Barker</a>
<br>
<a href="http://bv6.host.cs.st-andrews.ac.uk/">Blesson Varghese</a>
<br>
<a href="http://ltt2.host.cs.st-andrews.ac.uk/">Long Thai</a>

<!--
[Photo]

[Photo] [Photo]

Adam Barker

Long Thai Blesson Varghese

adam.barker@@st-andrews.ac.uk    

ltt2@@st-andrews.ac.uk

varghese@@st-andrews.ac.uk
-->

</div>

}