@(searchResult: uk.ac.sa.cb.model.search.SearchResult)(implicit flash: Flash, request: play.api.mvc.Request[Any])

@import java.lang.String; val host = request.host; val uri = request.uri

@main("Instance Search Results") {


	<table id="tbl1" class="table table-bordered">
	<tr>
		@for(label <- searchResult.labels) {
			<th>
				<a href="@searchResult.labelUrls(label)">
					@label
				</a>
			</th>
		}
	</tr>
	@for(instance <- searchResult.returnedInstances) {
		<tr>
			<td style="width:17%">
				<a href="@instance.pricingUrl" target="_blank">
					@instance.provider
				</a>
			</td>
			<td style="width:8%">@instance.zone</td>
			<td style="width:13%">@instance.location.split("-").mkString("_")</td>
			<td style="width:7%">@instance.instanceType</td>
			<td style="width:20%">@instance.operatingSystem.toString.replace("_", " ")</td>
			<td style="width:5%">@instance.cores</td>
			<td style="width:5%">@instance.mem</td>
			<td style="width:10%">@instance.storage</td>
			<td style="width:10%">
				@if(instance.storageVolume == 0) {
					N/A
				} else {
					@instance.storageVolume
				}
			</td>
			<td style="width:5%">@instance.price</td>
		</tr>
	}
	</table>	
	
	<table class="table table-bordered">
		<tr>
			<td width="15%" align="center">
				@if(searchResult.firstPage != null) {
					<a href="@searchResult.firstPage">&lt;&lt;</a>
				} else { &lt;&lt; }
			</td>
			<td width="15%" align="center">
				@if(searchResult.previousPage != null) {
					<a href="@searchResult.previousPage">&lt;</a>
				} else { &lt; }
			</td>
			<td width="15%" align="center">
				@searchResult.pageNumber/@searchResult.totalPage
			</td>
			<td width="15%" align="center">
				@if(searchResult.nextPage != null) {
					<a href="@searchResult.nextPage">&gt;</a>
				} else { &gt; }
			</td>
			<td width="15%" align="center">
				@if(searchResult.lastPage != null) {
					<a href="@searchResult.lastPage">&gt;&gt;</a>
				} else { &gt;&gt; }
			</td>
		</tr>
	</table>
}