@(instancesSearchForm: Form[uk.ac.sa.cb.model.search.SearchCriteria], formData: uk.ac.sa.cb.controller.form.InstancesSearchFormData)(implicit flash: Flash)
@import helper._

@main("Instance Search") {
	<div class="panel panel-default panel-body" style="margin: 0 auto;width:50%;padding-right: 35px;">
		<form method="GET" action="@uk.ac.sa.cb.controller.routes.InstancesSearchController.searchInstances()">
			<input name="sortLabel" type="hidden" value="Provider">
			<input name="isDescending" type="hidden" value="false">
			<input name="pageNumber" type="hidden" value="1">

			@for(num <- 0 until formData.formData.size) {
			<div class="form-group row">
					<div class="col-xs-4">
						<label for="criteria[@num].signString" title="@formData.formData(num)._4">@formData.formData(num)._1</label>
					</div>
					<input name="criteria[@num].criterionLabel" id="criteria[@num].criterionLabel" type="hidden" value="@formData.formData(num)._1">
				@if(formData.formData(num)._2.size == 1) {
					<input name="criteria[@num].signString" id="criteria[@num].signString" type="hidden" value="@formData.formData(num)._2(0)">
				} else {
					<select name="criteria[@num].signString" id="criteria[@num].signString" class="col-xs-4">
						@for(sign <- formData.formData(num)._2) {
							<option value="@sign">
							@sign match {
								case "=" => {Equal to}
								case "<=" => {Less than or Equal to}
								case "<" => {Less than}
								case ">=" => {Greater than or Equal to}
								case ">" => {Greater than}
								case _ => { throw new IllegalArgumentException("Unknown sign [%s]".format(sign)) }
							}
							</option>
						}
					</select>
				}
				@if(formData.formData(num)._3 == null) {
					<input name="criteria[@num].userGivenVal" type="text" class="col-xs-4" placeholder="Enter positive number">
					@if(flash.get("%s.error".format(formData.formData(num)._1)).isDefined) {
						<div class="alert alert-danger" role="alert">@flash.get("%s.error".format(formData.formData(num)._1))</div>
					}
				} else {
					<select name="criteria[@num].userGivenVal" class="col-xs-8">
						<option value=""></option>
						@for(value <- formData.formData(num)._3) {
							<option value="@value">@value</option>
						}
					</select>
				}
			</div>
			}
			<div class="col-sm-offset-4 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Submit">
				<input type="reset" class="btn btn-primary" value="Clear">
			</div>
		</form>
	</div>
}
