@(details: List[InstanceDetail])(implicit flash: Flash)
@main("AWS Instance Details") {
  <table class="instances">
  	<tr>
  	  <th>Region</th>
  	  <th>Instance Type</th>
  	  <th>Size</th>
  	  <th>vCPU</th>
  	  <th>ECU</th>
  	  <th>Memory GiB</th>
  	  <th>Storage GiB</th>
  	  <th>Name</th>
  	  <th>Price</th>
  	</tr>
    @for(detail <- details) {
      <tr>
      <td>@detail.region</td>
      <td>@detail.instanceType</td>
      <td>@detail.size</td>
      <td>@detail.vCPU</td>
      <td>@detail.eCU</td>
      <td>@detail.memoryGiB</td>
      <td>@detail.storageGB</td>
      <td>@detail.name</td>
      <td>@detail.price</td>
      <tr>
} </table>
}